<div style="height: calc(100% - var(--topspace) - var(--topspace)   );overflow-x: auto;">
    <div class="app_container-topbar">
        Hier der Inhalt des oberen Toolbars (Toolbar ist optional)
    </div>
    <!-- Die Toolbar Componente (optional, siehe "al-lib" -> toolbar.component.ts) -->
    


    <!-- Hier folgt ein beliebiger Content-->
    <div>

        Bla Bla Bla Bla Bla BlaBla Bla Bla
        
    </div>
    fertig

</div>

<div class="app_bottombar" style="height:42px">
    Hier der Inhalt des unteren Toolbars (unterer Toolbar optional)
</div>
