<div class="containerform">






  <form #userform="ngForm" class="row g-3 needs-validation" novalidate>
    <div class="col-lg-6">
      <label for="vorname" class="form-label">Vorname</label>
      <input autocomplete="off" [(ngModel)]="users.vorname" #name="ngModel" name="vorname" type="text"
        class="form-control" id="vorname" value="" required />
      <div class="text-danger">
        @if(name.errors?.['required'] && (name.dirty || name.touched)){
        Pflichtfeld }
      </div>
    </div>

    <div class="col-lg-6">
      <label for="nachname" class="form-label">Nachname</label>
      <input autocomplete="off" [(ngModel)]="users.nachname" #nname="ngModel" name="nachname" type="text"
        class="form-control" id="nachname" value="" required />
      <div class="text-danger">
        @if(nname.errors?.['forbiddenName'] ){ Name nicht erlaubt }
        @if(nname.errors?.['required'] && (nname.dirty || nname.touched)){Pflichtfeld }
      </div>
    </div>


    <div class="col-lg-6">
      <label for="username" class="form-label">Username</label>
      <input autocomplete="off" [(ngModel)]="users.username" #uname="ngModel" name="username" type="text"
        class="form-control" id="username" value="" placeholder="your-Name@email.de" />
      <div class="text-danger">
        @if(!uname.pristine){Value has Changed}
      </div>
    </div>



    <div class="col-lg-6">
      <label for="password" class="form-label">Passwort</label>
      <input autocomplete="off" [(ngModel)]="users.password" #pwd="ngModel" name="password" type="password" required
        class="form-control" id="password" value="" />
      <div class="text-danger">
        @if(pwd.errors?.['required'] && (pwd.dirty || pwd.touched)){Pflichtfeld }
      </div>

      <div id="passwordHelpBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers, and must not contain special
        characters.
      </div>


    </div>




    <div class="col-lg-6">
      <label for="email" class="form-label">E-mail</label>
      <input autocomplete="off" [(ngModel)]="users.email" #mail="ngModel" name="email" type="email" required
        class="form-control" id="email" value="" />
      <div class="text-danger">
        @if(mail.errors?.['required'] && (mail.dirty || mail.touched)){Pflichtfeld }
      </div>
    </div>


    <!-- Hier ein Mix aus MATERIAL(select) und BOOTSTRAP(form-control) -->
    <div class="col-lg-6">
      <label for="rechte" class="form-label">Rechte</label>
      <mat-select multiple [(ngModel)]="users.rechte" id="rechte" name="rechte" class="form-control">
        @for (recht of rechte; track recht) {
        <mat-option [value]="recht" style="display: flex;align-items: flex-start;">
          {{recht}}
        </mat-option>
        }
      </mat-select>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="button" (click)="OnSubmit(userform)">
        Speichern
      </button>
    </div>
  </form>
</div>