<!--
<app-sidenav></app-sidenav>
-->
<mat-sidenav-container class="sidenav-container">


    <!--Der Inhalt des Primären Sidebar-->
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]=" 'over' " [opened]="false">
        <mat-toolbar>Menü</mat-toolbar>
        <mat-nav-list>
            <a style="background: beige;" mat-list-item [routerLink]="['/login']" (click)="drawer.close()">

                <div *ngIf="!(currentUser | async)">
                    <span>Login</span>
                </div>

                <div *ngIf="currentUser | async; let user">
                    <span *ngIf="user.username">Logout</span>
                    <span *ngIf="!user.username">Login</span>
                    <span style="font-size: small;"> {{user.username}} </span>
                </div>
            </a>

            <mat-divider></mat-divider>
            
            <a mat-list-item [routerLink]="['/home']" (click)="drawer.close()">Home</a>
            

            <div class="logo">
                <img src="assets/img/logo.svg" alt="Data-AL Logo" title="Data-AL" width="112px">
            </div>


        </mat-nav-list>
    </mat-sidenav>



    <mat-sidenav-content>

        <div class="with-sidebar">
            <!--Der Inhalt des Sidebar-->
            <div class="sbar">
                <button (click)="drawer.toggle()" type="button" aria-label="Toggle sidenav" mat-icon-button>
                    <img src="assets\img\burgerwhite.ico" alt="">
                </button>
            </div>
            <!-----------------------Der HAUPTCONTAINER ---------------->
            <div>

                <app-header title={{title}}></app-header>

                <router-outlet></router-outlet>
                <alert></alert>
            </div>
        </div>
    </mat-sidenav-content>



</mat-sidenav-container>