@use "@angular/material" as mat;

//https://material.angular.io/guide/theming

//https://material.angular.io/guide/system-variables

html {
  color-scheme: dark  ;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

//   "@angular/material/prebuilt-themes/purple-green.css",

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root .error-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
      button-color:var(--mat-sys-primary)
    )
  );
}
:root .success-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-surface),
      supporting-text-color: ar(--mat-sys-on-surface),
      button-color:var(--mat-sys-primary)
    )
  );
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
@import "bootstrap-grid.css";
@import "bootstrap-utilities.css";
*/

.full-width {
  width: 100%;
}
