/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "@angular/material" as mat;



:root .error-snackbar {
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
      button-color:var(--mat-sys-primary)));
}

:root .success-snackbar {
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-surface),
      supporting-text-color: ar(--mat-sys-on-surface),
      button-color:var(--mat-sys-primary)));
}



.sidesheet {
  @include mat.sidenav-overrides((container-background-color: var(--mat-sys-surface-container-low),
      container-text-color: var(--mat-sys-on-surface-container-low)));
}



//https://material.angular.io/guide/theming

//https://material.angular.io/guide/system-variables


html {
  color-scheme: light;
  @include mat.theme((color: mat.$blue-palette,
      typography: Roboto,
      density: 0));



}



html {
  //Hintergrund Sidebar und gesamter Hintergrund


  // --mat-sys-surface: light-dark(#fcf8fd, #313131);
  // --mat-sys-background: light-dark(#fcf8fd, #313131);

  --mat-sidenav-container-background-color: light-dark(#fcf8fd, #313131);


  //activer- hover- Satatus bei Mat-List
  // --mdc-list-list-item-hover-state-layer-color: light-dark(blue, silver);
  // --mdc-list-list-item-focus-state-layer-color: light-dark(blue, silver);




  --toolbar-height: 64px;

  @media (max-width: 599px) {
    --toolbar-height: 56px;

    .mat-toolbar-row,
    .mat-toolbar-single-row {
      padding: 0;
    }
  }



}











body.dark {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/* Importing Bootstrap SCSS file. */





.full-width {
  width: 100%;
}